body {
  font-family: Arial, sans-serif;
  color: #222222;
  line-height: 1.5;
}

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: #B0E0E6;
  text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

a:visited {
  color: #FFC0CB;
}

header,
footer {
  background: linear-gradient(to left, #B0E0E6, #FFC0CB);
  padding: 20px;
  margin: 5px 0;
}

.about {
  display: flex;
  justify-content: space-around;
}

.about_photo img {
  width: 160px;
  height: 220px;
  border-radius: 50%;
}

.about_text {
  display: flex;
  flex-direction: column;
}

.about_name {
  font-weight: 700;
  font-size: 30px;
}

.about_profession {
  font-weight: 700;
  font-size: 30px;
}

.contacts-icon {
  display: block;
  width: 23px;
  height: 20px;
  position: relative;
  top: 20px;
}

.contacts-text {
  font-size: 14px;
  margin-left: 28px;
}

section {
  border: 10px solid transparent;
  border-image: linear-gradient(to left, #B0E0E6, #FFC0CB);
  border-image-slice: 1;
  margin: 5px 0;
  padding: 10px;
}

.section_header {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

.skills_items {
  display: flex;
  flex-wrap: wrap;
}

.skills_item {
  flex-grow: 1;
  width: 33%;
}

.skills_item::before {
  display: inline-block;
  content: "\2713";
  padding-right: 3px;
  color: #B0E0E6;
  font-weight: bold;
}

footer .footer_text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}